/* ===================================================================
 * The box that contain all leds
 * ===================================================================*/
.meter-main-box {
   min-height: 6px;
   spacing: 2px;
}

/* ===================================================================
 * The led box
 * ===================================================================*/
.meter-led-box {
}
